<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false">
    <property name="CILEXEC_LOG_LEVEL" value="${CILEXEC_LOG_LEVEL:-INFO}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder class="ch.qos.logback.classic.encoder.JsonEncoder">
            <withTimestamp>true</withTimestamp>
            <withNanoseconds>true</withNanoseconds>
            <withSequenceNumber>true</withSequenceNumber>
            <withLevel>true</withLevel>
            <withThreadName>true</withThreadName>
            <withLoggerName>true</withLoggerName>
            <withContext>false</withContext>
            <withMarkers>true</withMarkers>
            <withMDC>true</withMDC>
            <withKVPList>true</withKVPList>
            <withMessage>false</withMessage>
            <withArguments>false</withArguments>
            <withFormattedMessage>true</withFormattedMessage>
            <withThrowable>true</withThrowable>
        </encoder>
    </appender>

    <logger name="org.flywaydb" level="INFO"/>
    <logger name="com.zaxxer.hikari" level="INFO"/>
    <logger name="org.postgresql" level="WARN"/>

    <root level="${CILEXEC_LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
